@import 'variables';
.action-bar {
    background-color: $actionbarBackgroundColor;
    border-color: transparent;
    border-width: 1;
    box-shadow: none;
    color: $actionbarFontColor;
    font-size: $actionbarFontSize;
    font-weight: 500;
    height: $actionbarHeight;
    margin-left: -6; //- 16 moves element to left side (reduces space added by android); and add 10 padding
    padding-right: 2;
    text-align: center;

    .steps {
        & .action-bar-title {
            font-size: $actionbarFontSize;
        }
        & .action-bar-title, & .action-bar-logo, & .action-bar-icon {
            vertical-align: middle;
            margin: 0;
            padding: 0;
        }
             
        & .action-bar-logo {
            @extend %icon;
            background-image: url("res://mnw_logo_startowa");
            background-position: left;
            background-repeat: no-repeat;
            horizontal-align: left;
        }

        & .action-bar-btn-download {
            background-image: url("res://red_plus");
            background-repeat: no-repeat;
            background-size: contain; 
            height: $buttonIconSize;
            margin: 0;
            padding: 0;  
            width: $buttonIconSize;
        }

        & .new-backgrounds-badge {
            background-image: url("res://badge");
            background-repeat: no-repeat;
            background-size: contain;
            color: black;
            font-size: 10;
            height: $badgeSize;
            padding-top: 14;
            padding-bottom: 14;
            width: $badgeSize;
        }
    
        & .info {
            background-image: url("res://info_startowa");
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            horizontal-align: right;
            height: $buttonIconSize;
            width: $buttonIconSize;
        }
        & .close-info {
            background-image: url("res://x_panel_v2");
        }
    }
}
