@import 'variables';
label {
    border-radius: 100%;
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: $letterSpacing;
    line-height: $fontSize;
}

%icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    height: $buttonIconSize;
    margin-left: $buttonIconPadding;
    vertical-align: middle;
    width: $buttonIconSize;
}

%wrapper {
    border-radius: 100%;
    height: $buttonWrapperHeight;
    padding-left: $buttonWrapperPadding;
    padding-right: $buttonIconPadding;
}

%text {
    padding: 0;
    text-align: right;
    vertical-align: middle;
}

.btn-back-wrapper {
    @extend %wrapper;
    background-color: $secondaryBackgroundColor;
    padding: $buttonIconPadding;
    width: $buttonWrapperHeight;
    .btn-back {
        @extend %icon;
        background-image: url("res://arrow_left_white_v2");
        margin: 0;
        padding: 0;
    }
}

.btn-choose-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    .btn-choose-image-text {
        @extend %text;
        color: $mainFontColor;
    }
    .btn-choose-image {
        @extend %icon;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-next-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    .btn-next-text {
        @extend %text;
        color: $mainFontColor;
    }
    .btn-next {
        @extend %icon;
        background-color: $mainBackgroundColor;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-choose-image-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    .btn-choose-image {
        @extend %icon;
        background-image: url("res://arrow_right_black_v3");
    }
    .btn-choose-image-text {
        @extend %text;
    }
}

.btn-new-wrapper {
    @extend %wrapper;
    background-color: $startEndBackgroundColor;
    .btn-new-text {
        @extend %text;
        color: $startEndFontColor;
        text-align: center;
    }
    .btn-new {
        @extend %icon;
        background-color: $startEndBackgroundColor;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-share-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    padding: $buttonIconPadding;
    width: $buttonWrapperHeight;
    .btn-share {
        @extend %icon;
        background-image: url("res://share_v2");
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}

.btn-download {
    background-image: url("res://download_black_v2");
    background-position: center;
    background-repeat: no-repeat;
    height: 80;
    width: 80;
}

.action-bar-btn-download {
    @extend %icon;
    background-image: url("res://download_violet_v2");
    background-position: right;
}
