@import 'variables';
label {
    border-radius: 100%;
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: $letterSpacing;
    line-height: $fontSize;
}

%icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    height: $buttonIconSize;
    margin-left: $buttonIconPadding;
    vertical-align: middle;
    width: $buttonIconSize;
}

%wrapper {
    border-radius: 100%;
    height: $buttonWrapperHeight;
    padding-left: $buttonWrapperPadding;
    padding-right: $buttonIconPadding;
}

%text {
    padding: 0;
    text-align: right;
    vertical-align: middle;
}

.btn-back-wrapper {
    @extend %wrapper;
    background-color: $secondaryBackgroundColor;
    padding: $buttonIconPadding;
    width: $buttonWrapperHeight;
    .btn-back {
        @extend %icon;
        background-image: url("res://arrow_left_white_v2");
        margin: 0;
        padding: 0;
    }
}

.btn-choose-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    .btn-choose-image-text {
        @extend %text;
        color: $mainFontColor;
    }
    .btn-choose-image {
        @extend %icon;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-next-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    .btn-next-text {
        @extend %text;
        color: $mainFontColor;
    }
    .btn-next {
        @extend %icon;
        background-color: $mainBackgroundColor;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-choose-image-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    .btn-choose-image {
        @extend %icon;
        background-image: url("res://arrow_right_black_v3");
    }
    .btn-choose-image-text {
        @extend %text;
    }
}

.btn-delete-image-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    padding-left: 0;
    &.active-delete {
        background-color: red;
        padding-left: $buttonWrapperPadding;
        
        .btn-delete-text {
            @extend %text;
        }
        .btn-delete-image {
            background-color: red;
        }
    }
    
    .btn-delete-image {
        @extend %icon;
        background-image: url("res://trash");
        background-color: $actionbarBackgroundColor;
        horizontal-align: left;
    }
  
}

.btn-abort-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    padding-left: 0;
    .btn-abort {
        @extend %icon;
        background-image: url("res://abort");
    }
}

.btn-new-wrapper {
    @extend %wrapper;
    background-color: $startEndBackgroundColor;
    .btn-new-text {
        @extend %text;
        color: $startEndFontColor;
        text-align: center;
    }
    .btn-new {
        @extend %icon;
        background-color: $startEndBackgroundColor;
        background-image: url("res://arrow_right_black_v3");
    }
}

.btn-share-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    padding: $buttonIconPadding;
    width: $buttonWrapperHeight;
    .btn-share {
        @extend %icon;
        background-image: url("res://share_v3");
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}

.btn-start-wrapper {
    @extend %wrapper;
    background-color: $startEndBackgroundColor;
    padding-left: 0;
    .btn-start {
        @extend %icon;
        background-color: $startEndBackgroundColor;
        background-image: url("res://new_muselfie");
    }
}

.btn-save-wrapper {
    @extend %wrapper;
    background-color: $mainBackgroundColor;
    padding-left: 0;
    .btn-save {
        @extend %icon;
        background-image: url("res://download_v3");
    }
}

.btn-download {
    @extend %icon;
    background-image: url("res://download_v3");
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 17;
}

.btn-busy {
    background-color: $actionbarBackgroundColor;
    color: #bdbdbd;
    opacity: 0.5;
}
