$mainBackgroundColor: #00e187;
$mainFontColor: black;

$secondaryBackgroundColor: #5a32ff;
$secondaryFontColor: white;

$startEndBackgroundColor: #ffe646;
$startEndFontColor: black;
$onlineGalleryBarBackgroundColor: $startEndBackgroundColor;

$fontFamily: 'WorkSans-Medium';
$fontFamilyBold: 'WorkSans-Bold';
$fontSize: 22;
$letterSpacing: 0;
$letterSpacingAppName: 0.04;
$letterSpacingBold: 0;

$buttonIconSize: 61;
$buttonIconPadding: 0;

$buttonWrapperPadding: 25; // right and left for button without icon; only left for button with icon
$buttonWrapperHeight: $buttonIconSize + 2 * $buttonIconPadding;

$badgeSize: 38;
$badgeFontSize: 8;

$ovalColor: $mainBackgroundColor;

$actionbarBackgroundColor: #e5e5e5;
$actionbarFontColor: $secondaryBackgroundColor;
$actionbarFontSize: 22;
$actionbarHeight: 81;
$actionbarSecondaryFontColor: #ff3232;

$animationDuration: .1s;

$animationDurationLong: .4s;

$dangerColor: red;
