$mainBackgroundColor: #00e187;
$mainFontColor: black;

$secondaryBackgroundColor: #5a32ff;
$secondaryFontColor: white;

$startEndBackgroundColor: #ffe646;
$startEndFontColor: black;

$fontFamily: 'WorkSans-Medium';
$fontSize: 22;
$letterSpacing:-0.01;

$buttonIconSize: 61;
$buttonIconPadding: 0;

$buttonWrapperPadding: 25; // right and left for button without icon; only left for button with icon
$buttonWrapperHeight: $buttonIconSize + 2 * $buttonIconPadding;

$ovalColor: $mainBackgroundColor;

$actionbarBackgroundColor: #e5e5e5;
$actionbarFontColor: $secondaryBackgroundColor;
$actionbarFontSize: 22;
$actionbarHeight: 81;
$actionbarSecondaryFontColor: #ff3232;

$fakeActionBarMarginTop: -1 * $actionbarHeight / 2;

