@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';
@import '~/common-styles/_variables.scss';


#action-bar-fake{
    @extend .action-bar;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: center;
    margin-left: 5;
    width: 100%;

    .action-bar-step{
        @extend %button;
        background-image: url("res://arrow_left_red_v2");
    }
}
.chosen-file{
    border-color: $mainBackgroundColor;
    border-radius: 0;
    border-width: 2;
}
.btn-download{
    @extend %button;
    background-image: url("res://download_black_v2");
}
.btn-busy{
    background-color: $actionbarBackgroundColor;
    color: #bdbdbd;
    opacity: 0.5;
}

.downloaded-background {
    opacity: 0.3;
}
