@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';

.chosen-file{
    border-color: $mainBackgroundColor;
    border-radius: 0;
    border-width: 2;
}

.btn-download {
    visibility: hidden;
}
