@import '~/common-styles/actionBar';
@import '~/common-styles/navigationButtonsContainer';
@import '~/common-styles/buttons';

#image-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

#face-oval {
  border-color:#00e187;
  border-width:3;
  clip-path: ellipse(49% 49% at 50% 50%);
  
}
