@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';
 

.steps{
    flex-direction: row;
    justify-content: flex-start;

    & .action-bar-title{
        width:60%;
    }
    
    & .action-bar-step, & .action-bar-icon{
        width:20%;
    }

    & .action-bar-step{
        color: red;
    }
}
