@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';

.home-page-layout{
  .home-page-layout-main{
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
