@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';

#action-bar-fake{
    @extend .action-bar;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    vertical-align: center;
    width: 100%;

    & .action-bar-title{
        width:60%;
    }

    & .action-bar-step, & .action-bar-icon{
        width:20%;
    }

    & .action-bar-step{
        color: red;
    }

}

.chosen-file{
    border-color: $mainBackgroundColor;
    border-width: 2;
}

.btn-download {
    visibility: collapse;
}
