@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_fakeActionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';
@import '~/common-styles/_variables.scss';
@import '~/common-styles/_logo.scss';
@import '~/common-styles/_animations.scss';

.action-bar-fake {
    background-color: $actionbarBackgroundColor;
}

.picture-info {
    background-color: $actionbarBackgroundColor;
    color: black;
    height: 50%;
    padding-left: 25;
    padding-right: 25;
    text-align: center;
    vertical-align: top;

    .picture-author {
        margin-bottom: 32;
    }

    .picture-title {
        font-family: $fontFamilyBold;
        line-height: 1.20;
        margin-bottom: 32;
    }
 }
 
.swipe-icon {
    @extend %icon;
    background-image: url("res://arrow_right_black_v3");
    background-color: $actionbarBackgroundColor;
 }

.picture-icon-wrapper {
    &.slide-up {
        .swipe-icon {
            animation-name: rotateArrowDown;
            animation-duration: $animationDurationLong;
            animation-fill-mode: forwards;
         }
    }
}

.picture-icon-wrapper {
    .swipe-icon-wrapper {
        margin-top: -44;
        .swipe-icon {
            transform: rotate(-90deg);
        }
    }
   
    .picture-info {
        height: 50%;
    }
}
.picture-icon-wrapper {
    &.slide-down {

        .swipe-icon {
            animation-name: rotateArrowUp;
            animation-duration: $animationDurationLong;
            animation-fill-mode: forwards;
        }
    }
}

.logo-bar {
    background-color: transparent;
}

