@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';

#placement-oval {
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: ellipse(49% 49% at 50% 50%);
}
