@import '~/common-styles/_actionBar.scss';
@import '~/common-styles/_navigationButtonsContainer.scss';
@import '~/common-styles/_buttons.scss';

#image-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  
}

#placement-oval {
  background-color: rgba(0, 224, 135, 0.65);
  border-color: #00e187;
  border-width: 2;
  clip-path: ellipse(49% 49% at 50% 50%);

}
